name: _check-version

on:
  workflow_call:
    inputs:
      package-name:
        required: true
        type: string
      deployed-folder:
        description: 'The folder where the deployed package is located, relative to the repository root. Default is "."'
        required: false
        type: string
        default: '.'
    outputs:
      version_changed:
        description: 'Whether the deployed package version has changed'
        value: ${{ jobs.check.outputs.version_changed }}

jobs:
  check:
    name: Get Deployed Version
    runs-on: ubuntu-latest
    outputs:
      version_changed: ${{ steps.final_output.outputs.version_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Verify Branch
        id: verify_branch
        run: |
          if git ls-remote --heads https://github.com/SeptKit/septkit.github.io.git main | grep main; then
            echo "deployment_branch_exists=true" >> $GITHUB_OUTPUT
          else
            echo "version_changed=true" >> $GITHUB_OUTPUT
            echo "deployment_branch_exists=false" >> $GITHUB_OUTPUT
            echo "No deployment branch found, skipping version check."
          fi

      - name: Checkout Main Branch
        uses: actions/checkout@v3
        if: steps.verify_branch.outputs.deployment_branch_exists == 'true'
        with:
          ref: 'main'

      - name: Extract Current Version
        id: current_version
        if: steps.verify_branch.outputs.deployment_branch_exists == 'true'
        working-directory: packages/${{ inputs.package-name }}
        run: |
          CURRENT_VERSION=$(grep version package.json | sed 's/.*"version": "\(.*\)".*/\1/')
          echo "Current version: $CURRENT_VERSION"
          echo "current_version=$CURRENT_VERSION" >> $GITHUB_OUTPUT

      - name: Checkout Deployed App
        uses: actions/checkout@v3
        if: steps.verify_branch.outputs.deployment_branch_exists == 'true'
        with:
          repository: 'SeptKit/septkit.github.io'
          ref: 'main'

      - name: Verify Deployed Folder Exists
        id: verify_deployed_folder
        if: steps.verify_branch.outputs.deployment_branch_exists == 'true'
        run: |
          # For extensions, we check if the deployed folder for the specific version exists.
          # In this case, we do not set deployed_folder_exists, because version comparison is redundant:
          # if the folder does not exist, we know the version is not deployed.
          if [[ "${{ inputs.package-name }}" == extensions/* ]]; then
            if [ -d "${{ inputs.deployed-folder }}/${{ steps.current_version.outputs.current_version }}" ]; then
              echo "Deployed folder for extension exists."
              echo "version_changed=false" >> $GITHUB_OUTPUT
            else
              echo "Deployed folder for extension does not exist."
              echo "version_changed=true" >> $GITHUB_OUTPUT
            fi

          else
            if [ -d "${{ inputs.deployed-folder }}" ]; then
              echo "Deployed folder exists."
              echo "deployed_folder_exists=true" >> $GITHUB_OUTPUT
            else
              echo "Deployed folder does not exist."
              echo "deployed_folder_exists=false" >> $GITHUB_OUTPUT
              echo "version_changed=true" >> $GITHUB_OUTPUT
            fi
          fi

      - name: Extract Deployed Version
        id: get_version
        if: steps.verify_branch.outputs.deployment_branch_exists == 'true' && steps.verify_deployed_folder.outputs.deployed_folder_exists == 'true'
        working-directory: ${{ inputs.deployed-folder }}
        run: |
          DEPLOYED_VERSION=$(grep version package.json | sed 's/.*"version": "\(.*\)".*/\1/')
          echo "Deployed version: $DEPLOYED_VERSION"
          echo "deployed_version=$DEPLOYED_VERSION" >> $GITHUB_OUTPUT

      - name: Compare Versions
        id: compare_versions
        if: steps.verify_branch.outputs.deployment_branch_exists == 'true' && steps.verify_deployed_folder.outputs.deployed_folder_exists == 'true'
        run: |
          if [ "${{ steps.get_version.outputs.deployed_version }}" != "${{ steps.current_version.outputs.current_version }}" ]; then
            echo "Version has changed: ${{ steps.get_version.outputs.deployed_version }} -> ${{ steps.current_version.outputs.current_version }}"
            echo "version_changed=true" >> $GITHUB_OUTPUT
          else
            echo "Version unchanged"
            echo "version_changed=false" >> $GITHUB_OUTPUT
          fi

      # Merging outputs is necessary because if there is no deployment branch, then the compare_versions step will not run and otherwise the verify_branch step will not set the output to true
      # or if the deployment is about an extension, then the compare_versions step will not run and otherwise the verify_deployed_folder step will not set the output to true
      - name: Mergin Outputs
        id: final_output
        run: |
          verify_branch_version_changed="${{ steps.verify_branch.outputs.version_changed }}"
          verify_deployed_folder_version_changed="${{ steps.verify_deployed_folder.outputs.version_changed }}"
          compare_versions_version_changed="${{ steps.compare_versions.outputs.version_changed }}"
          echo "verify_branch_version_changed: $verify_branch_version_changed"
          echo "compare_versions_version_changed: $compare_versions_version_changed"
          if [ "$verify_branch_version_changed" == "true" ] || [ "$compare_versions_version_changed" == "true" ] || [ "$verify_deployed_folder_version_changed" == "true" ]; then
            echo "version_changed=true" >> $GITHUB_OUTPUT
          else
            echo "version_changed=false" >> $GITHUB_OUTPUT
          fi
