name: Deploy Shell

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'packages/shell/**'

jobs:
  install:
    name: Install Dependencies
    uses: ./.github/workflows/_install.yml
    with:
      package-name: shell

  build:
    name: Build Project
    needs: install
    uses: ./.github/workflows/_build.yml
    with:
      package-name: shell

  test:
    name: Run Tests
    needs: install
    uses: ./.github/workflows/_test.yml
    with:
      package-name: shell

  version:
    name: Check Version
    uses: ./.github/workflows/_check-version.yml
    with:
      package-name: shell
      deployed-folder: .

  lint:
    name: Lint Code
    needs: install
    uses: ./.github/workflows/_lint.yml
    with:
      package-name: shell

  deploy:
    name: Deploy To Pages
    if: needs.version.outputs.version_changed == 'true'
    needs:
      - build
      - test
      - version
      - lint
    uses: ./.github/workflows/_deploy.yml
    with:
      package-name: shell
    secrets:
      deployment-token: ${{ secrets.SHELL_DEPLOYMENT_PAT }}

  create-release-tag:
    name: Create Release Tag
    if: needs.version.outputs.version_changed == 'true'
    needs:
      - version
      - extract-version
      - deploy
    uses: ./.github/workflows/_tag-release.yml
    with:
      package-name: shell
      version: ${{ needs.extract-version.outputs.version }}
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
