name: Deploy Ext. Dataflow

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'packages/extensions/dataflow/**'

jobs:
  install:
    name: Install Dependencies
    uses: ./.github/workflows/_install.yml
    with:
      package-name: extensions/dataflow

  build:
    name: Build Project
    needs: install
    uses: ./.github/workflows/_build.yml
    with:
      package-name: extensions/dataflow

  test:
    name: Run Tests
    needs: install
    uses: ./.github/workflows/_test.yml
    with:
      package-name: extensions/dataflow

  version:
    name: Check Version
    uses: ./.github/workflows/_check-version.yml
    with:
      package-name: extensions/dataflow
      deployed-folder: extensions/dataflow

  lint:
    name: Lint Code
    needs: install
    uses: ./.github/workflows/_lint.yml
    with:
      package-name: extensions/dataflow

  extract-version:
    name: Extract Version
    uses: ./.github/workflows/_extract-version.yml
    with:
      package-name: extensions/dataflow

  deploy:
    name: Deploy To Pages
    if: needs.version.outputs.version_changed == 'true'
    needs:
      - build
      - test
      - version
      - lint
      - extract-version
    uses: ./.github/workflows/_deploy.yml
    with:
      package-name: extensions/dataflow
      target-folder: extensions/dataflow/${{ needs.extract-version.outputs.version }}
    secrets:
      deployment-token: ${{ secrets.SHELL_DEPLOYMENT_PAT }}

  create-release-tag:
    name: Create Release Tag
    if: needs.version.outputs.version_changed == 'true'
    needs:
      - version
      - extract-version
      - deploy
    uses: ./.github/workflows/_tag-release.yml
    with:
      package-name: extensions/dataflow
      version: ${{ needs.extract-version.outputs.version }}
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
