name: Deploy Shell

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'packages/extensions/structure/**'

jobs:
  install:
    name: Install Dependencies
    uses: ./.github/workflows/_install.yml
    with:
      package-name: extensions/structure

  build:
    name: Build Project
    needs: install
    uses: ./.github/workflows/_build.yml
    with:
      package-name: extensions/structure

  test:
    name: Run Tests
    needs: install
    uses: ./.github/workflows/_test.yml
    with:
      package-name: extensions/structure

  version:
    name: Check Version
    uses: ./.github/workflows/_check-version.yml
    with:
      package-name: extensions/structure
      deployed-folder: .

  lint:
    name: Lint Code
    needs: install
    uses: ./.github/workflows/_lint.yml
    with:
      package-name: extensions/structure

  extract-version:
    name: Extract Version
    uses: ./.github/workflows/_extract-version.yml
    with:
      package-name: extensions/structure

  deploy:
    name: Deploy To Pages
    if: needs.version.outputs.version_changed == 'true'
    needs:
      - build
      - test
      - version
      - lint
      - extract-version
    uses: ./.github/workflows/_deploy.yml
    with:
      package-name: extensions/structure/${{ needs.extract-version.outputs.version }}
    secrets:
      deployment-token: ${{ secrets.SHELL_DEPLOYMENT_PAT }}
