name: Deploy PR preview

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - 'packages/shell/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_fileio:
    name: Check if fileio version exists in npm registry
    uses: ./.github/workflows/_check-if-npm-version-exists.yml
    with:
      package-name: fileio

  # install_fileio_dependencies:
  #   name: Install fileio dependencies
  #   needs: check_fileio
  #   if: github.event.action != 'closed' && needs.check_fileio.outputs.npm_version_exists == 'false' # Skip the install if the PR has been closed or if version already exists in npm registry
  #   uses: ./.github/workflows/_install.yml
  #   with:
  #     package-name: fileio

  # build_fileio:
  #   name: Build fileio dependency
  #   needs: install
  #   if: github.event.action != 'closed' && needs.check_fileio.outputs.npm_version_exists == 'false' # Skip the build if the PR has been closed or if version already exists in npm registry
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - uses: pnpm/action-setup@v4
  #       name: Install pnpm
  #       with:
  #         version: 10.10.0
  #         run_install: false

  #     - name: Build dependencies
  #       run: pnpm build --filter=./packages/fileio

  check_ui:
    name: Check if ui version exists in npm registry
    uses: ./.github/workflows/_check-if-npm-version-exists.yml
    with:
      package-name: ui

  # install_ui_dependencies:
  #   name: Install ui dependencies
  #   needs: check_ui
  #   if: github.event.action != 'closed' && needs.check_ui.outputs.npm_version_exists == 'false' # Skip the install if the PR has been closed or if version already exists in npm registry
  #   uses: ./.github/workflows/_install.yml
  #   with:
  #     package-name: ui

  # build_ui:
  #   name: Build ui dependency
  #   needs: install
  #   if: github.event.action != 'closed' && needs.check_ui.outputs.npm_version_exists == 'false' # Skip the build if the PR has been closed or if version already exists in npm registry
  #   uses: ./.github/workflows/_build.yml
  #   with:
  #     package-name: ui

  install:
    name: Install Dependencies
    needs:
      - build_ui
      - build_fileio
    if: always()
    uses: ./.github/workflows/_install.yml
    with:
      package-name: shell

  lint:
    name: Lint Code
    needs: install
    uses: ./.github/workflows/_lint.yml
    with:
      package-name: shell

  test:
    name: Run Tests
    needs:
      - install
      - build_ui
      - build_fileio
    if: always()
    uses: ./.github/workflows/_test.yml
    with:
      package-name: shell

  deploy-preview:
    name: Deploy Preview
    needs:
      - install
      - check_fileio
      - check_ui
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.10.0
          run_install: false

      - name: Install dependencies
        run: pnpm install

      - name: Build fileio dependency
        if: github.event.action != 'closed' && needs.check_fileio.outputs.npm_version_exists == 'false' # Skip the build if the PR has been closed or if version already exists in npm registry
        working-directory: packages/fileio
        run: pnpm build

      - name: Build ui dependency
        if: github.event.action != 'closed' && needs.check_ui.outputs.npm_version_exists == 'false' # Skip the build if the PR has been closed or if version already exists in npm registry
        working-directory: packages/ui
        run: pnpm build

      - name: Run shell tests
        uses: ./.github/workflows/_test.yml
        with:
          package-name: shell

      - name: Build app
        working-directory: ./packages/shell
        if: github.event.action != 'closed' # You might want to skip the build if the PR has been closed
        run: pnpm build --base=/pr-preview/pr-${{ github.event.number }}

      - name: Deploy shell as preview
        uses: rossjrw/pr-preview-action@v1
        id: preview-step
        with:
          source-dir: packages/shell/dist
          deploy-repository: 'SeptKit/septkit.github.io'
          pages-base-url: 'septkit.github.io'
          token: ${{ secrets.SHELL_DEPLOYMENT_PAT }}
          umbrella-dir: pr-preview
          preview-branch: main

      - if: steps.preview-step.outputs.deployment-action == 'deploy'
        run: echo "Preview visible at ${{ steps.preview-step.outputs.preview-url }}"
