name: Publish @septkit/ui

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'packages/ui/**'

jobs:
  install:
    name: Install Dependencies
    uses: ./.github/workflows/_install.yml
    with:
      package-name: ui

  build:
    name: Build Project
    needs: install
    uses: ./.github/workflows/_build.yml
    with:
      package-name: ui

  test:
    name: Run Tests
    needs: install
    uses: ./.github/workflows/_test.yml
    with:
      package-name: ui

  version:
    name: Check Version
    uses: ./.github/workflows/_check-version.yml
    with:
      package-name: ui
      deployed-folder: .

  lint:
    name: Lint Code
    needs: install
    uses: ./.github/workflows/_lint.yml
    with:
      package-name: ui

  deploy:
    name: Deploy To Pages
    if: needs.version.outputs.version_changed == 'true'
    needs:
      - build
      - test
      - version
      - lint
    uses: ./.github/workflows/_publish.yml
    with:
      package-name: ui
    secrets:
      deployment-token: ${{ secrets.NPM_PUBLISH_PAT }}
