name: Quality Check @septkit/ext-structure

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'packages/extensions/structure/**'

jobs:
  install:
    name: Install Dependencies
    uses: ./.github/workflows/_install-ext-structure.yml

  test:
    name: Run Tests
    needs: install
    uses: ./.github/workflows/_test.yml
    with:
      package-name: extensions/structure

  lint:
    name: Lint Code
    needs: install
    uses: ./.github/workflows/_lint.yml
    with:
      package-name: extensions/structure
